/* Calendar Container */
/* .calendar-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
} */

/* Calendar */
.calendar {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 10px;
}

/* Previous and Next Buttons */
.prev-btn,
.next-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

/* Days Container */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}

/* Day Names */
.day-name,
.day {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    /* Light grey */
    font-weight: bold;
    color: #6c6c6c;
}

.day {
    padding-top: 25px;
    padding-bottom: 20px;
    cursor: default;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .header {
        font-size: 1rem;
        padding: 8px;
    }

    .day {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        padding: 5px;
    }

    .day {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Empty Cells */
.empty {
    background-color: transparent;
}

/* Selected Date */
.selected {
    background: linear-gradient(to top, rgba(255, 162, 0, 0.7), rgba(255, 145, 0, 0.5));
    /* Light orange */
    color: #fff;
    /* border-radius: 50%; */
}

/* Dates within Range */
.inRange {
    background: linear-gradient(to top, rgba(255, 145, 0, 0.7), rgba(255, 145, 0, 0.5));
}


/* Start Date */
.start {
    background: linear-gradient(to top, rgba(255, 145, 0, 0.7), rgba(255, 145, 0, 0.5));
    /* Dark orange */
    color: #fff;
    /* border-radius: 50%; */
}

/* End Date */
.end {
    background: linear-gradient(to top, rgba(255, 145, 0, 0.7), rgba(255, 145, 0, 0.5));
    /* Dark orange */
    color: #fff;
    /* border-radius: 50%; */
}

/* Disabled Dates */
.disabled {
    background-color: #c7c7c7;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.55;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.day:not(.disabled):hover {
    outline: 1px solid #ff9800;
    background-color: #ffe0b2;
    transition: background-color 0.3s ease;
}



/* for selectdates component */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}