* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.loading-cell {
    background-color: #dcdcdc;
    animation: fadeInOut 1s infinite alternate;
}

@keyframes fadeInOut {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for webkit browsers (Chrome, Safari, etc.) */
}

.no-scrollbar {
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}